table {
    font-family: monospace
}

th {
    background: #d0bdac;
    border: 4px groove #f8f9e7;
    padding: 3px 5px;
    border-radius: 8px 8px 0 0;
    color: #3a4269;
    text-shadow: 1px 1px 0 #fefff1, -1px -1px 0 #fefff1, -1px 1px 0 #fefff1, 1px -1px 0 #fefff1
}

td {
    background: #f6f8eb;
    border: 4px solid #cbcbcb;
    border-style: groove;
    border-radius: 3px;
    padding: 3px 5px;
    text-align: right;
    color: #3c3e55
}

td:first-child {
    font-weight: 700;
    text-transform: capitalize;
    text-align: left
}